@media (max-width: 1400px) {
    .no-mob {
        display: none;
    }
}

@media (min-width: 1400px) {
    .nav-search-item {
        display: none;
    }
}

.nav-col {
    z-index: 1;
    background-color: #121212;
    top: 12%;
    position: sticky;
}

.image-position {
    margin-right: 7%;
}

.nav-item {
    text-align: left;
    color: #7d7d7d;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    margin: 10px -15px 0px 0px;
    font-size: 22px;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #212121;
    box-shadow: #212121 0 0 5px;
    transition-duration: .1s;
    color: #b3b3b3;
}